In [ ]:
import pandas as pd
import evaluation_helper as eval

# Read in data

features = pd.read_csv('./data/answer.csv', sep=';')

/home/dave/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Parsing labels
import numpy as np
questions = np.array(features['place_asked'])
answers = np.array(features['place_answered'])
labels = np.equal(questions, answers)
labels = list(map(lambda x: 1 if x else 0, labels))
features['correct'] = np.array(labels)

In [3]:
ids = [i for i in range(1473)]
filtered = features[features['place_asked'].isin(ids)]
grouped = filtered.groupby('place_asked')['correct'].agg([['averages','mean']])

In [4]:
features.sample(5)

,id,user,place_asked,place_answered,type,inserted,response_time,place_map,language,options,ip_country,ip_id,correct
7721445,7735805,86485,311,311.0,2,2015-03-12 22:02:46,2617,80.0,2,"[322, 311]",ES,32647.0,1
9402462,9416938,115581,371,368.0,1,2015-05-02 22:22:19,2133,230.0,0,[],CZ,42529.0,0
2836832,2850749,30200,1226,1226.0,1,2014-10-14 08:57:16,3380,79.0,0,"[1223, 1224, 1226, 1227, 1228, 1244]",CZ,100.0,1
3080896,3094813,36902,1318,1318.0,1,2014-10-22 13:51:11,4729,227.0,0,"[1021, 1318]",SK,11237.0,1
4838770,4852907,57328,25,5.0,1,2014-12-15 22:34:21,4189,195.0,0,[],SK,22538.0,0

In [5]:
correct_labels = features['correct']
prediction_labels = []
averages = grouped['averages']

for index, row in features.iterrows():
    question_id = int(row['place_asked'])
    prediction_labels.append(averages[question_id])
    

prediction_labels.describe()

KeyboardInterrupt: