In [1]:
import pandas as pd
import evaluation_helper as eval

# Read in data

features = pd.read_csv('./data/answer.csv', sep=';')

/home/dave/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Parsing labels
import numpy as np
questions = np.array(features['place_asked'])
answers = np.array(features['place_answered'])
labels = np.equal(questions, answers)
labels = list(map(lambda x: 1 if x else 0, labels))
features['correct'] = np.array(labels)

In [3]:
ids = [i for i in range(1473)]
filtered = features[features['place_asked'].isin(ids)]
grouped = filtered.groupby('place_asked')['correct'].agg([['averages','mean']])

In [4]:
features.sample(5)

,id,user,place_asked,place_answered,type,inserted,response_time,place_map,language,options,ip_country,ip_id,correct
4744233,4758370,58910,575,576.0,1,2014-12-13 18:19:05,5100,229.0,0,[],SK,22028.0,0
5546483,5560642,67223,124,63.0,1,2015-01-12 08:49:48,11045,231.0,0,[],CZ,19273.0,0
2103537,2117403,22685,184,184.0,1,2014-09-12 13:20:00,15324,230.0,0,[],CZ,100.0,1
4756740,4770877,55542,84,235.0,1,2014-12-14 12:00:02,5014,227.0,0,[],CZ,20861.0,0
7464549,7478909,89108,1011,1011.0,1,2015-03-05 18:09:20,4998,231.0,0,[],SK,33590.0,1

In [ ]:
correct_labels = features['correct']
prediction_labels = []
averages = grouped['averages']

for index, row in features.iterrows():
    question_id = int(row['place_asked'])
    prediction_labels.append(averages[question_id])
    

precition_labels = [int(grouped[row['place_asked']]) for row in features]